* {
   font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

#flex-container {
    display: flex;
    align-items: center;
}

header#header-logo-name {
    margin: 5px;
    display: flex;
}

#companylogo {
    height: 20px;
    width: 20px;
    float: left;
    padding-right: 5px;
}

h1 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
}

#centernav {
    display: flex;
    margin: 0;
}

#rightnav {
    display: flex;
    flex-direction: row;
}

#centernav>nav>ul>li {
    display: inline;
}

a {
    color: black;
    text-decoration: none;
}

.activepage {
    border-bottom: solid magenta;
}

a:active {
    border-bottom: magenta;
}

a.rightnavel1 {
    background: green;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    margin: 0;
}

a.rightnavel2 {
    background: magenta;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    margin: 0;
}